version: '3.8'

services:
  db:
    image: postgres:13
    container_name: flowai_db
    environment:
      POSTGRES_DB: flowai_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: flowai_backend
    ports:
      - "5000:5000"
    environment:
      POSTGRES_DB: flowai_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: flowai_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: